[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
django = "*"
djangorestframework = "*"
"psycopg2" = "*"
pylint-django = "*"
django-cors-headers = "*"
django-rest-knox = "*"

[dev-packages]
autopep8 = "*"
prospector = "*"

[requires]
python_version = "3.6"
